.divNav{

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}


.headerFormat{


	position: relative;
	z-index: 0;
	width: 100%;
	margin-bottom: 8%;

}