.inputForm{

  width: 95%;


}

#divMain{

  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  font-weight: bolder;

  .ant-form-item-label > label{

    color: white !important;

  }

}

#divBtn{

button, button{

background-color: #836FFF;
margin-left: 5%;
color: white;

}

}